@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.Nome =)</h1>
    <p>Este é meui primeiro site em MVC</p>
    <span>Seu e-mail é @Model.Email</span>
</div>
